/* eslint-disable @typescript-eslint/no-unused-vars */
/* Tailwind CSS directives - these are valid for Tailwind */
/* prettier-ignore */
@tailwind base;
/* prettier-ignore */
@tailwind components;
/* prettier-ignore */
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
